# --- Entorno Base ---
APP_ENV=dev
APP_SECRET=a_very_secret_key_change_in_production

# --- Puertos Expuestos al Host ---
# Puedes cambiarlos si hay colisiones en tu entorno local
NGINX_PORT=8000
DB_PORT=5432
REDIS_PORT=6379
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001

# --- Base de Datos PostgreSQL ---
DB_NAME=eudr_db
DB_USER=eudr_user
DB_PASSWORD=eudr_password_secret

# --- Almacenamiento MinIO (S3 Compatible) ---
MINIO_USER=minioadmin
MINIO_PASSWORD=minioadmin123
MINIO_BUCKET=eudr-evidences
MAILER_DSN=smtp://user:pass@smtp.example.com:25
